[submodule "External/filesystem"]
	path = External/filesystem
	url = https://github.com/wjakob/filesystem.git
[submodule "External/pybind11"]
	path = External/pybind11
	url = https://github.com/pybind/pybind11
[submodule "External/eigen"]
	path = External/eigen
	url = https://gitlab.com/libeigen/eigen.git
